.lock {
    overflow: hidden;
}

.container {
    width: 80vw;
    margin: auto;

    @include media ("<tablet") {
        margin-inline: auto;
        width: 90vw;
    }
}

.section-label {
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    color: $red;
    @include adaptive-value("font-size", 22, 18, 1);
    @include adaptive-value("margin-bottom", 20, 12, 1);
}

.subhead {
    @include adaptive-value("font-size", 22, 18, 1);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: United Sans Cond;
    width: 85vw;
    margin: 0 auto;
}

.hero {
    position: relative;
    height: 100dvh;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: #151515;

    @include media ("<desktop") {
        height: 600px;
    }

    &.low-height {
        height: 60vh;
    }

    .image-grid {
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr;
        column-gap: 10vw;
        height: -moz-fit-content;
        height: fit-content;
        left: 50%;
        max-height: 100dvh;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 10;

        @include media ("<desktop") {
            column-gap: 20vw;
            grid-template-columns: 1fr 1fr;
            padding-top: 0;
        }
    }

    .image-column {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .image-column-1 {
        margin-left: -5vw;
        padding-bottom: 7.5vw;
        padding-top: 7vw;

        @include media ("<desktop") {
            align-items: flex-start !important;
            grid-column: 1 / 3;
            margin-left: 7.5vw;
            padding-bottom: 5vw;
            padding-top: 12vw;
        }
    }

    .image-column-2 {
        padding-top: 5vw;
        row-gap: 10vw;

        @include media ("<desktop") {
            padding-top: 10vw;
            row-gap: 15vw;
        }
    }

    .image-column-3 {
        padding-right: 3.75vw;
        row-gap: 10vw;

        @include media ("<desktop") {
            margin-top: -21vw;
            padding-top: 5vw;
        }
    }

    .image-grid-wrap {
        max-width: 20vw;

        @include media ("<desktop") {
            max-width: 32.5vw;
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: #15151599;
        z-index: 15;
    }

    &_bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 13;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 30;
    }

    &_text {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1 1 0%;

        h1 {

            color: $white;
            letter-spacing: 3px;
            @include adaptive-value("margin-bottom", 20, 12, 1);

            @include media ("<tablet") {
                letter-spacing: 2px;
            }
        }

        p {
            color: $white;
            @include adaptive-value("font-size", 22, 18, 1);
            line-height: calc(30 / 22);
            font-style: italic;
        }
    }
}

.content-components {
    position: relative;

    .content {
        margin-top: var(--space-75p);
        display: grid;
        grid-template-columns: 25vw 1fr;
        gap: var(--space-10p);

        @include media ("<tablet") {
            grid-template-columns: 1fr;
            margin-top: var(--space-15p);
        }
    }

    .image_left {
        @include media ("<tablet") {
            display: none;
        }
    }

    .crop_logo {
        position: absolute;
        aspect-ratio: 1 / 1;
        top: calc(var(--space-footer-logo-width) * -1);
        right: 10vw;
        width: var(--space-footer-logo-width);
        transform: translateY(20%);

        @include media ("<tablet") {
            right: 50%;
            top: calc(var(--space-15p) * -1);
            transform: translate(50%, 20%);
        }
    }
}

.text-image {
    margin-top: var(--space-10p);
    margin-bottom: var(--space-10p);

    &.revert {

        .text-image_content {
            grid-template-columns: 4fr 3fr;

            @include media ("<widescreen_x") {
                grid-template-columns: 3fr 2fr;
            }
        }

        .text-image_img {
            order: 2;
        }

        .text-image_text {
            order: 1;
        }
    }

    &.revert_mobile {
        .text-image_img {
            @include media ("<tablet") {
                order: 1;
            }
        }

        .text-image_text {
            @include media ("<tablet") {
                order: 2;
            }
        }
    }

    &.artist {
        .btn {
            display: none;
        }

        .links_wrap {
            display: flex;
        }

        .text-image_img {
            @include media ("<tablet") {
                order: 1;
            }
        }

        .text-image_text {
            @include media ("<tablet") {
                order: 2;
                text-align: start;
            }
        }

        .script {
            display: none;
        }
    }

    &.wide_img {
        .text-image_content {
            grid-template-columns: 4fr 3fr;

            @include media ("<widescreen_x") {
                grid-template-columns: 2fr 3fr;
            }

            @include media ("<tablet") {
                text-align: center;
                grid-template-columns: 1fr;
            }
        }

        .inner_img {
            aspect-ratio: 3 / 2;
        }

        .text-image_img {
            @include media ("<tablet") {
                order: 2;
            }
        }

        .text-image_text {
            @include media ("<tablet") {
                order: 1;
            }
        }

        .btn {
            @include media ("<tablet") {
                width: 100%;
            }
        }
    }

    &_content {
        display: grid;
        align-items: center;
        gap: var(--space-75p);
        grid-template-columns: 3fr 4fr;
        gap: var(--space-10p);

        @include media ("<widescreen_x") {
            grid-template-columns: 2fr 3fr;
        }

        @include media ("<tablet") {
            text-align: center;
            grid-template-columns: 1fr;
        }

    }

    &_img {
        width: 100%;
        position: relative;

        @include media ("<tablet") {
            order: 2;
        }

        .top_img {
            position: absolute;
            top: -10vw;
            width: 25vw;
            left: calc(var(--space-10p) * -1);
            z-index: -1;
        }

        .inner_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 3 / 4;
        }

        .script {
            bottom: 0;
            height: auto;
            left: 50%;
            margin-inline: auto;
            max-width: 34rem;
            position: absolute;
            transform: translate(-50%, 75%);
            width: 85% !important;
        }
    }

    &_text {
        width: 100%;

        @include media ("<tablet") {
            order: 1;
        }

        h2 {
            margin-bottom: 12px;
        }

        p {
            @include adaptive-value("margin-bottom", 20, 12, 1);
        }

        .btn {
            min-width: 244px;

            @include media ("<phone") {
                width: 100%;
            }
        }

        .links_wrap {
            display: none;
            align-items: center;
            gap: var(--space-s-m);
        }
    }
}

.offers {
    @include adaptive-value("padding-top", 120, 60, 1);
    @include adaptive-value("padding-bottom", 120, 60, 1);
    text-align: center;

    &_subhead {
        position: relative;
        text-align: center;
        @include adaptive-value("margin-bottom", 60, 24, 1);

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background-color: $gray;
        }

        span {
            background-color: $white;
            @include adaptive-value("padding-right", 24, 16, 1);
            @include adaptive-value("padding-left", 24, 16, 1);
        }
    }

    &_content {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        gap: var(--space-10p);
        @include adaptive-value("margin-bottom", 60, 24, 1);

        @include media ("<tablet") {
            grid-template: 1fr / 1fr 1fr;
        }
    }

    &_item {
        position: relative;
        text-align: start;

        &:last-child {
            @include media ("<tablet") {
                display: none;
            }
        }

        &:not(:last-child) {

            &::after {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                right: calc(var(--space-375p) * -1.3);
                top: 0;
                width: 1px;
                background-color: $gray;
            }
        }

        &:nth-child(2) {
            @include media ("<tablet") {
                &::after {
                    display: none;
                }
            }
        }

        &:hover {
            h4 {
                color: $red;
                transition: color .75s ease;
            }

            .item_img {
                img {
                    transform: scale(1.1)
                }
            }
        }

        h4 {
            transition: color .75s ease;
        }
    }

    .item_img {
        width: 100%;
        height: auto;
        @include adaptive-value("margin-bottom", 20, 12, 1);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .btn {
        @include adaptive-value("margin-bottom", 60, 24, 1);

    }
}

.promo {
    background-color: #151515;
    position: relative;
    padding-block: var(--space-10p);

    &_wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--space-s-m);
    }

    .subhead {
        margin-inline: auto;
        width: 85vw;
        color: $white;
    }

    .promo-group-caption {
        display: grid;
        grid-template-rows: 0fr;
        margin-bottom: 0;
        opacity: 0;
        transition: all .3s ease;
    }

    .promo-group-caption-inner {
        overflow: hidden;
    }

    &_item {
        border-top: 1px solid #464646;

        &:last-of-type {
            border-bottom: 1px solid #464646;
        }

        &.active {

            .promo-group-caption {
                grid-template-rows: 1fr;
                opacity: 1;
            }

            h2,
            p {
                opacity: 1;
                transition: all .5s ease;
            }

            p {
                max-height: auto;
                overflow: visible;
            }

        }

        &_link {
            display: grid;
            margin-inline: auto;
            width: 85vw;
            padding-top: var(--space-s-m);
            padding-bottom: var(--space-s-m);

            @include media ("<tablet") {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: var(--space-75p);
            }
        }

        &_content {
            display: flex;
            flex-direction: column;
            gap: var(--space-4xs-3xs);
            width: 55%;
            position: relative;

            @include media ("<tablet") {
                width: auto;
            }

            h2,
            p {
                color: $white;
                opacity: 0.3;
                transition: all .5s ease;

                @include media ("<tablet") {
                    opacity: 1;
                }
            }

            p {
                font-family: "adobe-caslon-pro";
                font-style: italic;
            }

            .arrow {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: .75rem;

                @include media ("<tablet") {
                    position: static;
                    margin-top: 1rem;
                    transform: translateY(0);
                }
            }
        }

        &_img {
            display: none;
            aspect-ratio: 3 / 4;

            @include media ("<tablet") {
                display: block;
            }
        }
    }

    &_image_group {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 35vw;
        max-height: 80%;
        aspect-ratio: 3 / 4;
        margin-left: auto;
        margin-right: var(--space-75p);
        z-index: 10;

        @include media ("<tablet") {
            display: none;
        }
    }

    &_img {
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        z-index: 10;
        overflow: hidden;

        transition: all .5s ease;
        opacity: 0;

        &.active {
            opacity: 1;
            transition: all .5s ease;
        }
    }
}

.events {
    margin-top: var(--space-75p);
    margin-bottom: var(--space-75p);

    &_subhead {
        display: flex;
        align-items: center;
        gap: 13px;

        img {
            width: 20px;
            height: 19px;
        }
    }

    &_wrap {
        display: flex;
        flex-direction: column;
        gap: var(--space-m-l);
    }

    &_item {
        display: grid;
        padding-top: var(--space-s-m);
        padding-bottom: var(--space-s-m);
        grid-template-columns: 20vw 1fr 20vw;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;

        @include media ("<tablet") {
            grid-template-columns: auto;
        }
    }

    .item_date {
        padding-right: 2rem;

        @include media ("<tablet") {
            display: none;
        }
    }

    .item_link-wrap {
        padding-left: var(--space-s-m);
        padding-right: var(--space-s-m);
        border-left: 1px solid $gray;
        grid-column: span 2 / span 2;

        @include media ("<tablet") {
            border: none;
            padding: 0;
        }

        .arrow {
            width: .75rem;
        }
    }

    .item_link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-s-m);

        &:hover {
            h3 {
                transition: all .3s ease;
                color: $red;
            }

            .arrow {
                transition: all .3s ease;
                transform: translateX(0.25rem);
            }
        }

        .arrow {
            transition: all .3s ease;
        }
    }

    .link_text {
        display: flex;
        flex-direction: column;
        gap: var(--space-3xs-2xs);

        .hidden {
            display: none;

            @include media ("<tablet") {
                display: block;
            }
        }
    }
}

.events-type-2 {

    .container {
        @include media ("<widescreen_x") {
            width: 85vw;
        }
    }

    .text_link-wrap {
        padding-left: var(--space-s-m);
        padding-right: var(--space-5p);
        border-left: 1px solid $gray;
        grid-column: span 1 / span 1;

        @include media ("<tablet") {
            border: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--space-s-m);
        }

        .arrow {
            display: none;
            width: 12px;
            height: 18px;

            @include media ("<tablet") {
                display: block;
            }

        }
    }

    .text_link {
        display: flex;
        flex-direction: column;
        gap: var(--space-3xs-2xs);

        &:hover {
            h3 {
                color: $red;
            }

            .base-link {
                &::after {
                    width: 100%;
                }
            }
        }

        .hidden {
            display: none;

            @include media ("<tablet") {
                display: block;
            }
        }

        .clamp {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @include media ("<tablet") {
                display: none;
            }
        }

        .base-link {
            @include media ("<tablet") {
                display: none;
            }
        }
    }

    .img_link {
        overflow: hidden;
        aspect-ratio: 3 / 4;

        @include media ("<tablet") {
            display: none;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.calendar {
    margin-top: 0;
    margin-bottom: var(--space-75p);


    .events_filter {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var(--space-s-m);
        margin-bottom: var(--space-5p);
        overflow: auto;

        &.resized {
            justify-content: flex-start;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        scrollbar-width: 0;
    }

    .filter_button {
        letter-spacing: 1px;
        position: relative;
        transition: color .3s ease;
        white-space: nowrap;
        text-transform: uppercase;

        @include media ("<tablet") {
            &:first-of-type {
                margin-left: 7.5vw;
            }

            &:last-of-type {
                margin-right: 7.5vw;
            }
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $red;
            transition: width .3s ease;
        }

        &:hover {
            color: $red;
            transition: color .3s ease;

            &::before {
                width: 100%;
                transition: width .3s ease;
            }
        }

        &.active {
            color: $red;

            &::before {
                width: 100%;
                transition: width .3s ease;
            }
        }
    }

    .text_link-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-s-m);

        @include media ("<tablet") {
            flex-direction: row;
            align-items: center;
        }

        .btn {
            @include media ("<tablet") {
                display: none;
            }
        }
    }
}

.slider {
    background-color: #151515;
    padding-top: var(--space-10p);
    padding-bottom: var(--space-10p);

    .subhead {
        display: block;
        color: $white;
        margin-bottom: var(--space-m-l);
        text-align: center;
    }

    .slide-inner {

        img {
            min-height: 190px;
            max-height: 680px;
            aspect-ratio: 3 / 2;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        background-color: $red;
        border-radius: 50%;

        @include media ("<tablet") {
            width: 36px;
            height: 36px;
        }

        &:hover {
            filter: brightness(.9);
            transition: all .3s ease;
        }

        img {
            width: 16.5px;
            height: 16.5px;

            @include media ("<tablet") {
                width: 12px;
                height: 12px;
            }
        }

        &::after {
            display: none;
        }
    }
}

.rooms {
    margin-top: 5vw;
    margin-bottom: var(--space-75p);

    .container {
        width: 85vw;

        @include media ("<tablet") {
            width: 90vw;
        }
    }

    &_filter {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var(--space-s-m);
        margin-bottom: var(--space-5p);
        overflow: auto;

        &.resized {
            justify-content: flex-start;

            .filter_button {
                &:first-of-type {
                    margin-left: 7.5vw;
                }

                &:last-of-type {
                    margin-right: 7.5vw;
                }
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }

        scrollbar-width: 0;
    }

    .filter_button {
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
        transition: color .3s ease;
        letter-spacing: .05em;
        white-space: nowrap;
        font-family: United Sans Cond;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $red;
            transition: width .3s ease;
        }

        &:hover {
            color: $red;
            transition: color .3s ease;

            &::before {
                width: 100%;
                transition: width .3s ease;
            }
        }

        &.active {
            color: $red;

            &::before {
                width: 100%;
                transition: width .3s ease;
            }
        }
    }

    &_list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--space-75p);
        position: relative;
        overflow: hidden;

        @include media ("<tablet") {
            grid-template-columns: 1fr;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: 1px;
            background-color: $gray;

            @include media ("<tablet") {
                display: none;
            }
        }

        @include media (">widescreen_x") {
            gap: var(--space-10p);
        }
    }

    &_item {
        display: flex;
        flex-direction: column;
        gap: var(--space-s-m);
        min-height: 100%;
        position: relative;

        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: calc(-1 * var(--space-75p) / 2);
                width: 60vw;
                height: 1px;
                background: $gray;

                @include media ("<tablet") {
                    display: none;
                }
            }
        }
    }

    .item {

        &_img {
            width: 100%;
            height: auto;
            aspect-ratio: 3 / 2;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }

            &.hovered {
                position: relative;

                .tour-icon {
                    position: absolute;
                    right: 20px;
                    right: var(--space-xs-s);
                    bottom: var(--space-xs-s);
                    width: 5rem;
                    height: auto;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        &_title {
            font-size: var(--step-h3);
        }

        &_descr {
            @include adaptive-value("font-size", 22, 18, 1);
            margin-bottom: auto;
        }
    }
}

.amenities {
    margin-top: var(--space-75p);
    margin-bottom: var(--space-10p);

    .container {
        width: 100%;

        @include media ("<desktop") {
            width: 80vw;
        }
    }

    &_content {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1.6fr 1fr;
        column-gap: var(--space-75p);

        @include media ("<widescreen_x") {
            grid-template-columns: 1fr 1.4fr 1fr;
        }

        @include media ("<desktop") {
            grid-template-columns: 1fr 1fr;
            row-gap: var(--space-75p);
        }
    }

    .amenities_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--space-m-l);

        @include media ("<desktop") {
            grid-column: span 2 / span 2;
            order: 1;
        }

        ul {
            width: 100%;
        }

        li {
            position: relative;
            font-family: "adobe-caslon-pro", serif;
            padding-block: var(--space-2xs-xs);
            padding-inline: var(--space-xs-s);
            border: 1px solid $gray;
            position: relative;



            &:first-child {

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    aspect-ratio: 1;
                    background: #FBF9EF;
                    height: 50%;
                    width: auto;
                    z-index: 10;
                }

                &::before {
                    top: -1px;
                    right: -1px;

                    border-bottom: 1px solid $gray;
                    border-left: 1px solid $gray;
                    border-radius: 0 0 0 100%;
                }

                &::after {
                    top: -1px;
                    left: -1px;
                    border-bottom: 1px solid $gray;
                    border-radius: 0 0 100%;
                    border-right: 1px solid $gray;
                    left: -1px;
                }
            }

            &:last-child {

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    aspect-ratio: 1;
                    background: #FBF9EF;
                    height: 50%;
                    width: auto;
                    z-index: 10;
                }

                &::before {
                    bottom: -1px;
                    right: -1px;
                    border-left: 1px solid $gray;
                    border-radius: 100% 0 0;
                    border-top: 1px solid $gray;
                    right: -1px;
                }

                &::after {
                    bottom: -1px;
                    left: -1px;
                    border-radius: 0 100% 0 0;
                    border-right: 1px solid $gray;
                    border-top: 1px solid $gray;
                }
            }
        }
    }

    .img-left {
        @include media ("<desktop") {
            order: 2;
        }
    }

    .img-right {
        @include media ("<desktop") {
            order: 3;
        }
    }
}

.places {
    margin-top: var(--space-75p);
    margin-bottom: var(--space-75p);

    @include media ("<phone") {
        margin: 60px 0;
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--space-10p);
        position: relative;
        overflow: hidden;

        @include media ("<tablet") {
            grid-template-columns: 1fr;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            background-color: $gray;

            @include media ("<tablet") {
                display: none;
            }
        }
    }

    &_item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--space-s-m);
        text-align: center;

        &:not(:last-child) {
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: calc(-1 * var(--space-75p) / 2);
                width: 60vw;
                height: 1px;
                background: $gray;

                @include media ("<tablet") {
                    display: none;
                }
            }
        }

        &:hover {
            .item_img {
                img {
                    transform: scale(1.1);
                }
            }

            h3 {
                color: $red;
                transition: color .5s ease;
            }
        }

        h3 {
            transition: color .5s ease;
        }
    }

    .item_img {
        aspect-ratio: 3 / 2;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .item_text {
        display: flex;
        flex-direction: column;
        gap: var(--space-3xs-2xs);
    }
}

.text-section {

    .divider-wrap {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: 1px;
            background-color: $gray;
        }

        .divider {
            display: block;
            height: 15px;
            border-top: 1px solid $gray;
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-m-l);
        width: 50vw;
        margin: 0 auto;
        margin-top: var(--space-5p);
        text-align: center;

        @include media ("<tablet") {
            width: 70vw;
        }

        @include media ("<tablet") {
            width: 85vw;
        }

        p {
            font-family: "adobe-caslon-pro", serif;
            font-size: var(--step-intro);
        }

        ul {
            width: 100%;

            &.other-font {
                li {
                    &:first-child {
                        font-family: United Sans Cond;
                    }
                }
            }
        }

        li {
            position: relative;
            font-family: "adobe-caslon-pro", serif;
            padding-block: var(--space-2xs-xs);
            padding-inline: var(--space-xs-s);
            border: 1px solid $gray;
            position: relative;



            &:first-child {

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    aspect-ratio: 1;
                    background: #FBF9EF;
                    height: 50%;
                    width: auto;
                    z-index: 10;
                }

                &::before {
                    top: -1px;
                    right: -1px;

                    border-bottom: 1px solid $gray;
                    border-left: 1px solid $gray;
                    border-radius: 0 0 0 100%;
                }

                &::after {
                    top: -1px;
                    left: -1px;
                    border-bottom: 1px solid $gray;
                    border-radius: 0 0 100%;
                    border-right: 1px solid $gray;
                    left: -1px;
                }
            }

            &:last-child {

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    aspect-ratio: 1;
                    background: #FBF9EF;
                    height: 50%;
                    width: auto;
                    z-index: 10;
                }

                &::before {
                    bottom: -1px;
                    right: -1px;
                    border-left: 1px solid $gray;
                    border-radius: 100% 0 0;
                    border-top: 1px solid $gray;
                    right: -1px;
                }

                &::after {
                    bottom: -1px;
                    left: -1px;
                    border-radius: 0 100% 0 0;
                    border-right: 1px solid $gray;
                    border-top: 1px solid $gray;
                }
            }
        }
    }
}

.articles {
    margin-top: var(--space-5p);
    margin-bottom: var(--space-5p);


    &_filter {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var(--space-s-m);
        margin-bottom: var(--space-5p);
    }

    .filter_button {
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
        transition: color .3s ease;
        letter-spacing: .05em;
        font-family: United Sans Cond;
        text-transform: uppercase;

        &.resized {
            justify-content: flex-start;

            .filter_button {
                &:first-of-type {
                    margin-left: 7.5vw;
                }

                &:last-of-type {
                    margin-right: 7.5vw;
                }
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }

        scrollbar-width: 0;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $red;
            transition: width .3s ease;
        }

        &:hover {
            color: $red;
            transition: color .3s ease;

            &::before {
                width: 100%;
                transition: width .3s ease;
            }
        }

        &.active {
            color: $red;

            &::before {
                width: 100%;
                transition: width .3s ease;
            }
        }
    }


    &_content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: var(--space-10p);
        row-gap: var(--space-l-xl);
        position: relative;

        @include media ("<tablet") {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: $gray;
        }

        &::before {
            left: 31.5%;

            @include media ("<tablet") {
                left: 50%;
            }
        }

        &::after {
            right: 31.5%;

            @include media ("<tablet") {
                display: none;
            }
        }
    }

    &_item {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs-s);

        &:hover {
            .item_img {
                img {
                    transform: scale(1.1);
                }
            }

            h4 {
                color: $red;
                transition: color .5s ease;
            }
        }

        h4 {
            transition: color .5s ease;
        }
    }

    .item {
        &_img {
            width: 100%;
            height: auto;
            aspect-ratio: 3 / 4;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &_text {
            display: flex;
            flex-direction: column;
            gap: var(--space-4xs-3xs);

            .section-label {
                margin: 0;
            }
        }
    }
}

.follow {
    margin-top: var(--space-75p);
    margin-bottom: var(--space-75p);

    &_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-375p);
    }


    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-4xs-3xs);

        .section-label {
            margin: 0;
        }

        a {
            color: #151515;

            &::after {
                background-color: #151515;
            }
        }
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: var(--space-5p);

        @include media ("<tablet") {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &_img {
        aspect-ratio: 1 / 1;
        overflow: hidden;

        @include media ("<tablet") {
            &:last-child {
                display: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.section-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-s-m);
    text-align: center;
    width: 70vw;
    margin: 0 auto;

    margin-top: var(--space-15p);
    margin-bottom: var(--space-375p);

    @include media ("<tablet") {
        width: 85vw;
        padding-top: var(--space-10p);
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs-xs);
    }
}

.not-found {
    padding-top: var(--space-10p);

    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--space-s-m);
        width: 50vw;
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
    }

    &_img {
        max-width: 50rem;
        width: 80vw;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.wide-slider {
    width: 80vw;
    margin: 0 auto;
    margin-top: var(--space-75p);
    margin-bottom: var(--space-75p);

    @include media ("<tablet") {
        width: 85vw;
    }

    @include media ("<phone") {
        width: 100vw;
    }

    .slide_item {
        aspect-ratio: 16 / 9;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        background-color: $red;
        border-radius: 50%;

        @include media ("<tablet") {
            width: 36px;
            height: 36px;
        }

        &:hover {
            filter: brightness(.9);
            transition: all .3s ease;
        }

        img {
            width: 16.5px;
            height: 16.5px;

            @include media ("<tablet") {
                width: 12px;
                height: 12px;
            }
        }

        &::after {
            display: none;
        }
    }
}

.wide-img {
    width: 80vw;
    margin: 0 auto;
    margin-top: var(--space-75p);
    margin-bottom: var(--space-75p);

    @include media ("<tablet") {
        width: 85vw;
    }

    @include media ("<phone") {
        width: 100vw;
    }

    .image {
        aspect-ratio: 16 / 9;
        margin-bottom: var(--space-s-m);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .caption {
        display: block;
        margin: 0 auto;
        padding: 0 15px;
        text-align: center;
        font-family: "adobe-caslon-pro", serif;
    }
}

.article {

    &_breadcrumbs {
        letter-spacing: .05em;
        line-height: 1;
    }

    &_head {
        margin-top: calc(var(--space-5p) + var(--space-nav-height));

    }

    &_info {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--space-75p);
        position: relative;
        overflow: hidden;

        &_left_column {
            padding-top: var(--space-75p);
            display: flex;
            flex-direction: column;
            gap: var(--space-s-m);
        }

        &_featured_image {
            position: relative;
            z-index: 10;
        }

        &_credits {
            display: flex;
            flex-direction: column;
            gap: var(--space-3xs-2xs);
        }

        &_date {
            font-size: var(--step-caption);
        }

        @include media ("<tablet") {
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .no-line-divider-wrap {
                display: none;
            }
        }
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--space-75p);
        position: relative;
        overflow: hidden;
        margin-top: var(--space-5p);

        @include media ("<tablet") {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        &_left_column {
            display: flex;
            flex-direction: column;
            gap: var(--space-s-m);

            p.intro {
                font-size: var(--step-intro);
            }

            .editorial_details {
                display: flex;
                flex-direction: column;
                row-gap: var(--space-s-m);
                margin-top: var(--space-s-m);

                &_point {
                    h4 {
                        font-size: var(--step-h5);
                        margin-bottom: var(--space-4xs-3xs);
                    }

                    p {
                        font-size: var(--step-caption);
                    }
                }

            }

            .article_button {

                &_block {
                    display: flex;
                    flex-direction: column;
                    gap: var(--space-xs-s);

                    a.btn {
                        width: fit-content;
                    }
                }

                &_subtitle {
                    font-size: 1rem;

                }
            }
        }

        a {
            color: $red;
            text-decoration: underline;
            text-decoration-color: transparent;
        }

        a:hover {
            text-decoration-color: $red;
        }
    }

    &_main_content {
        display: flex;
        flex-direction: column;
        gap: var(--space-s-m);

    }



}

.other_articles {
    @include adaptive-value("padding-top", 120, 60, 1);
    @include adaptive-value("padding-bottom", 120, 60, 1);
    text-align: center;

    &_subhead {
        position: relative;
        text-align: center;
        @include adaptive-value("margin-bottom", 60, 24, 1);

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background-color: $gray;
        }

        span {
            background-color: $white;
            @include adaptive-value("padding-right", 24, 16, 1);
            @include adaptive-value("padding-left", 24, 16, 1);
        }
    }

    &_content {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        gap: var(--space-10p);

        @include media ("<tablet") {
            grid-template: 1fr / 1fr 1fr;
        }
    }

    &_item {
        position: relative;
        text-align: start;

        &:last-child {
            @include media ("<tablet") {
                display: none;
            }
        }

        &:not(:last-child) {

            &::after {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                right: calc(var(--space-375p) * -1.3);
                top: 0;
                width: 1px;
                background-color: $gray;
            }
        }

        &:nth-child(2) {
            @include media ("<tablet") {
                &::after {
                    display: none;
                }
            }
        }

        &:hover {
            h4 {
                color: $red;
                transition: color .75s ease;
            }

            .item_img {
                img {
                    transform: scale(1.1)
                }
            }
        }

        h4 {
            transition: color .75s ease;
        }
    }

    .item_img {
        width: 100%;
        height: auto;
        @include adaptive-value("margin-bottom", 20, 12, 1);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .btn {
        @include adaptive-value("margin-bottom", 60, 24, 1);

    }
}

.article_table_of_contents {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-3xs-2xs);

    a {
        color: $red;
        font-size: var(--step-caption);
        text-decoration: underline;
        text-decoration-color: transparent;
        text-decoration-thickness: 1px;
        transition: text-decoration-color .33s ease, color .33s ease;
        width: fit-content;
    }

    a:hover {
        text-decoration-color: $red;
    }
}

.no-line-divider-wrap {
    position: relative;
    width: 100vw !important;
    left: calc(var(--space-10p) * -1);

    .divider {
        display: block;
        height: 15px;
        border-top: 1px solid $gray;

    }
}

ul.wp-block-list li {
    list-style: disc;
}

.info_hero {
    position: relative;
    padding-top: var(--space-nav-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: transparent;

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        width: 100%;
        position: relative;
        z-index: 30;
        margin-top: var(--space-75p);
    }

    &_text {
        width: 70vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        flex: 1 1 0%;

        h1 {

            color: $black;
            letter-spacing: 3px;
            @include adaptive-value("margin-bottom", 20, 12, 1);

            @include media ("<tablet") {
                letter-spacing: 2px;
            }
        }

        p {
            color: $black;
            @include adaptive-value("font-size", 22, 18, 1);
            line-height: calc(30 / 22);
        }

    }
}

.text-section {
    a {
        color: $red;
        font-size: var(--step-caption);
        text-decoration: underline;
        text-decoration-color: transparent;
        text-decoration-thickness: 1px;
        transition: text-decoration-color .33s ease, color .33s ease;
        width: fit-content;
    }

    a:hover {
        text-decoration-color: $red;
    }
}

.sitemap {
    a {
        color: $red;
        font-size: var(--step-caption);
        text-decoration: underline;
        text-decoration-color: transparent;
        text-decoration-thickness: 1px;
        transition: text-decoration-color .33s ease, color .33s ease;
        width: fit-content;
    }

    a:hover {
        text-decoration-color: $red;
    }

    ul:not(.children) {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;

        @include media ("<tablet") {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }
}

.item_img img {
    object-fit: cover;
}

.gallery_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 2rem;

    @include media ("<tablet") {
        grid-template-columns: 1fr;
    }
}

.gallery-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gallery-item img {
    width: 100%;
    display: block;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gallery_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--space-s-m);
    margin-top: var(--space-375p);
    margin-bottom: var(--space-375p);
    overflow: auto;

    &.resized {
        justify-content: flex-start;

        .filter_button {
            &:first-of-type {
                margin-left: 7.5vw;
            }

            &:last-of-type {
                margin-right: 7.5vw;
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: 0;

    .filter_button {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        position: relative;
        transition: color .3s ease;
        letter-spacing: .05em;
        white-space: nowrap;
        font-family: United Sans Cond;
        font-size: var(--step-h5);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $red;
            transition: width .3s ease;
        }

        &:hover {
            color: $red;
            transition: color .3s ease;

            &::before {
                width: 100%;
                transition: width .3s ease;
            }
        }

        &.active {
            color: $red;

            &::before {
                width: 100%;
                transition: width .3s ease;
            }
        }
    }
}

a.button-soldout {
    background-color: $gray;
    color: $black !important;
    pointer-events: none;
}

.stay-touch {
    margin-top: var(--space-75p);
    margin-bottom: var(--space-l-xl);

    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-m-l);
    }

    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-3xs-2xs);
        text-align: center;

        h2 {
            font-size: var(--step-h3);
        }

        p {
            font-size: var(--step-caption);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: var(--space-s-m);
        width: 50vw;

        @include media ("<widescreen_x") {
            width: 70vw;
        }

        @include media ("<tablet") {
            width: 85vw;
        }
    }

    .inputs-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: var(--space-xs-s);
        column-gap: var(--space-s-m);

        .input {
            display: flex;
            flex-direction: column;
            row-gap: var(--space-3xs-2xs);
            width: 47%;

            @include media ("<tablet") {
                width: 100%;
            }

            input {
                background: transparent;
                border: 1px solid #D7D7D7;
                border-radius: 0px;
                font-size: var(--step-caption);
                line-height: 1.35;
                min-height: clamp(3.125rem, 3.0147rem + 0.4706vi, 3.75rem);
                padding-inline: var(--space-xs-s);
                position: relative;
                width: 100%;
                transition: $animation-speed;

                &:focus {
                    border-color: $red;
                    transition: $animation-speed;
                }
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        gap: 4px;
        text-transform: uppercase;
        font-family: United Sans Cond;
        font-size: 1rem;

        span {
            color: $red;
        }
    }

    .btn {
        @include media ("<tablet") {
            width: 100%;
        }
    }
}