.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 90;
    padding: 25px 0;

    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: var(--space-375p);
    }

    &_burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 36px;
        height: 22px;
        aspect-ratio: 36 / 22;

        span {
            background: $white;
            height: 1px;
            width: 100%;
        }
    }

    &_nav {
        display: flex;
        align-items: center;
        gap: 30px;

        &_menu {
            display: flex;
            align-items: center;
            gap: 16px;

            @include media ("<desktop") {
                display: none;
            }
        }

        &_item {
            a {
                font-family: United Sans Cond;
                font-weight: 600;
                font-size: 18px;
                color: $white;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: all .3s ease;

                &:hover {
                    color: $red;
                    transition: all .3s ease;
                }
            }
        }
    }

    &_logo {
        @include adaptive-value("max-width", 146, 110, 1);
        @include adaptive-value("height", 48, 36, 1);
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            width: 100%;
            height: 100%;
            fill: $white;
        }
    }

    &_actions {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
            font-family: United Sans Cond;
            color: $white;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: all .3s ease;

            @include media ("<desktop") {
                display: none;
            }

            &:hover {
                color: $red;
                transition: all .3s ease;
            }
        }

        .btn {
            padding-inline: var(--space-m-l);
            min-width: unset;

            @include media ("<tablet") {
                padding: 16px;
            }
        }
    }

    &_menu-wrap {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 11;
        height: 100dvh;
        width: 30vw;
        transition: all .75s ease;

        @include media ("<desktop") {
            width: 75%;
        }

        &.open {
            left: 0;
            transition: all .75s ease;
        }
    }

    &_menu {
        align-items: flex-start;
        background-color: $white;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        left: 0;
        max-width: 34.375rem;
        padding-inline: var(--space-375p);
        padding-bottom: var(--space-375p);
        padding-top: var(--space-m-l);
        position: absolute;
        row-gap: var(--space-m-l);
        top: 0;
        width: 100%;
        z-index: 10;

        &::-webkit-scrollbar {
            display: none;
        }

        scrollbar-width: 0;

        .close_btn {
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
                stroke: $red;
            }
        }

        .section-label {
            font-family: United Sans Cond;
            text-transform: uppercase;
            font-size: var(--step-cta);
            font-style: normal;
            letter-spacing: .05em;
            margin: 0;
        }

        .info-block {
            display: flex;
            flex-direction: column;
            gap: var(--space-3xs-2xs);
            margin-top: auto;

            a {
                transition: $animation-speed;

                &:hover {
                    color: $red;
                    transition: $animation-speed;
                }
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: var(--space-3xs-2xs);
            position: relative;
            z-index: 10;

            a {
                font-family: United Sans Cond;
                text-transform: uppercase;
                font-size: var(--step-h4);
                transition: $animation-speed;

                &:hover {
                    color: $red;
                    transition: $animation-speed;
                }
            }
        }

    }

    .sub-menu {
        height: 100dvh;
        left: 0;
        max-width: 34.375rem;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9;
        align-items: flex-start;
        background-color: $white;
        border-left: 1px solid $gray;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-inline: var(--space-375p);
        padding-bottom: var(--space-375p);
        padding-top: var(--space-m-l);
        row-gap: var(--space-m-l);
        transition: all .75s ease;

        @include media ("<desktop") {
            left: -100%;
            z-index: 11;
        }

        &.active {
            left: 30vw;
            transition: all .75s ease;

            @include media ("<desktop") {
                left: 0;

            }
        }

        .close_btn {
            opacity: 0;
            display: flex;
            align-items: center;
            font-family: United Sans Cond;
            letter-spacing: .05em;
            line-height: 1;
            text-transform: uppercase;
            color: $red;
            font-size: var(--step-cta);

            svg {
                width: 16px;
                height: 16px;
                margin-right: var(--space-4xs-3xs);
                fill: $red;
            }

            span {
                margin-top: 3px;
            }

            @include media ("<desktop") {
                opacity: 1;
            }
        }

        .section-label {
            color: $black;
            font-family: United Sans Cond;
            text-transform: uppercase;
            font-size: var(--step-cta);
            font-style: normal;
            letter-spacing: .05em;
            margin: 0;

            @include media ("<desktop") {
                color: $red;
            }
        }


        .menu {
            display: flex;
            flex-direction: column;
            gap: var(--space-3xs-2xs);
            position: relative;
            z-index: 10;

            a {
                font-family: United Sans Cond;
                text-transform: uppercase;
                font-size: var(--step-h4);
                transition: $animation-speed;

                &:hover {
                    color: $red;
                    transition: $animation-speed;
                }
            }
        }
    }

    .backdrop {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background: #00000080;
        z-index: -1;
        opacity: 0;
        transition: $animation-speed;
        visibility: hidden;
        pointer-events: none;

        &.show {
            opacity: 1;
            z-index: 8;
            transition: $animation-speed;
            visibility: visible;
            pointer-events: all;
        }
    }
}