<section class="amenities">
    <div class="container">
        <div class="amenities_content">
            <div class="amenities_img img-left">
                <img class="paralax" data-rellax-speed="-2" src="./images/content/content_6.webp"
                    alt="Image of Grown Alchemist bath products at the Bobby Nashville">
            </div>
            <div class="amenities_body">
                <div class="amenities_body__head">
                    <span class="section-label">Available in Every Room</span>
                    <h2>Room Amenities</h2>
                </div>
                <ul>
                    <li>Amazon Echo Show 8</li>
                    <li>Smart TV</li>
                    <li>Grown Alchemist Bath Amenities</li>
                    <li>Free Standard Wi-Fi</li>
                    <li>Rainfall Showers</li>
                    <li>In-Room Safe</li>
                    <li>Luxury Minibar</li>
                    <li>Room Service</li>
                    <li>Concierge Services</li>
                    <li>24-Hour Gym Access</li>
                    <li>Pet Friendly</li>
                    <li>Allergy-Free Rooms</li>
                </ul>
            </div>
            <div class="amenities_img img-right">
                <img class="paralax" data-rellax-speed="-2" src="./images/content/content_7.webp"
                    alt="Image of the minbar at Bobby Nashville">
            </div>
        </div>
    </div>
</section>