<section class="content-components">
    <div class="content">
        <div class="rellax-slow image image_left">
            <img
                data-rellax-speed="1"
                src="./images/content/content_1.webp"
                alt="image not found"
            >
        </div>
        <div class="rellax-slow image image_right">
            <img
                data-rellax-speed="1"
                src="./images/content/content_2.webp"
                alt="image not found"
            >
        </div>
    </div>
    <div class="crop_logo">
        <img src="./images/crop_logo.webp" alt="image not found">
    </div>
</section>