<section class="events">
    <div class="container">
        <div class="events_wrap">
            <div class="events_subhead">
                <img src="./images/svg/star.svg" alt="star icon">
                <span class="subhead">Upcoming Events</span>
            </div>
            <div class="events_contnet">
                <div class="events_item">
                    <div class="item_date">
                        <p>Aug 14</p>
                    </div>
                    <div class="item_link-wrap">
                        <a href="#" class="item_link">
                            <div class="link_text">
                                <p class="hidden">Aug 14</p>
                                <h3>BRONCHO</h3>
                                <p class="italic">with Wilby</p>
                            </div>
                            <img class="arrow" src="./images/svg/arrow_forward_red.svg"
                                alt="red arrow icon">
                        </a>
                    </div>
                </div>
                <div class="events_item">
                    <div class="item_date">
                        <p>Aug 21</p>
                    </div>
                    <div class="item_link-wrap">
                        <a href="#" class="item_link">
                            <div class="link_text">
                                <p class="hidden">Aug 21</p>
                                <h3>Samara Cyn</h3>
                                <p class="italic">with Tim Gent & Isaia Huron</p>
                            </div>
                            <img class="arrow" src="./images/svg/arrow_forward_red.svg"
                                alt="red arrow icon">
                        </a>
                    </div>
                </div>
                <div class="events_item">
                    <div class="item_date">
                        <p>Sep 4</p>
                    </div>
                    <div class="item_link-wrap">
                        <a href="#" class="item_link">
                            <div class="link_text">
                                <p class="hidden" p>Sep 4</p>
                                <h3>Mon Rovîa</h3>
                                <p class="italic">with Jarren Blair</p>
                            </div>
                            <img class="arrow" src="./images/svg/arrow_forward_red.svg"
                                alt="red arrow icon">
                        </a>
                    </div>
                </div>
                <div class="events_item">
                    <div class="item_date">
                        <p>Sep 11</p>
                    </div>
                    <div class="item_link-wrap">
                        <a href="#" class="item_link">
                            <div class="link_text">
                                <p class="hidden">Sep 11</p>
                                <h3>Lone Star Shindig 2025</h3>
                                <p class="italic">Texas Sounds Hit Nashville</p>
                            </div>
                            <img class="arrow" src="./images/svg/arrow_forward_red.svg"
                                alt="red arrow icon">
                        </a>
                    </div>
                </div>
                <div class="events_item">
                    <div class="item_date">
                        <p>Sep 18</p>
                    </div>
                    <div class="item_link-wrap">
                        <a href="#" class="item_link">
                            <div class="link_text">
                                <p class="hidden">Sep 18</p>
                                <h3>Bartees Strange</h3>
                                <p class="italic">with Venus & the Flytraps</p>
                            </div>
                            <img class="arrow" src="./images/svg/arrow_forward_red.svg"
                                alt="red arrow icon">
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="events_link base-link ">See All Events</a>
        </div>
    </div>
</section>