<section class="events events-type-2 calendar">
    <div class="events_filter scroll-element">
        <button type="button" class="filter_button active">All</button>
        <button type="button" class="filter_button">Rooftop Lounge Events</button>
        <button type="button" class="filter_button">Garage bar events</button>
        <button type="button" class="filter_button">music</button>
        <button type="button" class="filter_button">backyard sessions</button>
        <button type="button" class="filter_button">Art</button>
    </div>
    <div class="container">
        <div class="events_wrap">
            <div class="events_contnet">
                <div class="events_item">
                    <div class="item_date">
                        <p>Aug 14</p>
                    </div>
                    <div class="text_link-wrap">
                        <a href="#" class="text_link">
                            <p class="hidden">Aug 14</p>
                            <h3>INTERSECTION</h3>
                            <p class="italic">(A Crossroads of Vision and Creativity)
                            </p>
                            <p class="clamp">
                                "Intersection" explores diverse artistic perspectives,
                                reflecting Nashville’s evolving creative scene through
                                bold expression, space, and dynamic form
                            </p>
                            <p class="base-link">See Collection</p>

                        </a>
                        <a href="#" class="btn">More info</a>
                        <img class="arrow" src="./images/svg/arrow_forward_red.svg"
                            alt="red arrow icon">
                    </div>
                    <a href="#" class="img_link">
                        <img src="./images/content/content_2.webp" alt="image not found">
                    </a>
                </div>
                <div class="events_item">
                    <div class="item_date">
                        <p>Aug 14</p>
                    </div>
                    <div class="text_link-wrap">
                        <a href="#" class="text_link">
                            <p class="hidden">Aug 14</p>
                            <h3>INTERSECTION</h3>
                            <p class="italic">(A Crossroads of Vision and Creativity)
                            </p>
                            <p class="clamp">
                                "Intersection" explores diverse artistic perspectives,
                                reflecting Nashville’s evolving creative scene through
                                bold expression, space, and dynamic form
                            </p>
                            <p class="base-link">See Collection</p>
                        </a>
                        <img class="arrow" src="./images/svg/arrow_forward_red.svg"
                            alt="red arrow icon">
                    </div>
                    <a href="#" class="img_link">
                        <img src="./images/content/content_2.webp" alt="image not found">
                    </a>
                </div>
                <div class="events_item">
                    <div class="item_date">
                        <p>Aug 14</p>
                    </div>
                    <div class="text_link-wrap">
                        <a href="#" class="text_link">
                            <p class="hidden">Aug 14</p>
                            <h3>INTERSECTION</h3>
                            <p class="italic">(A Crossroads of Vision and Creativity)
                            </p>
                            <p class="clamp">
                                "Intersection" explores diverse artistic perspectives,
                                reflecting Nashville’s evolving creative scene through
                                bold expression, space, and dynamic form
                            </p>
                            <p class="base-link">See Collection</p>
                        </a>
                        <img class="arrow" src="./images/svg/arrow_forward_red.svg"
                            alt="red arrow icon">
                    </div>
                    <a href="#" class="img_link">
                        <img src="./images/content/content_2.webp" alt="image not found">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>