<section class="follow">
    <div class="container">
        <div class="follow_wrap">
            <div class="follow_text">
                <span class="section-label">Follow Us</span>
                <a href="#" class="base-link" target="_blank">@bobbyhotel</a>
            </div>
            <div class="follow_content">
                <div class="follow_img">
                    <img src="./images/content/content_4.webp" alt="image not found">
                </div>
                <div class="follow_img">
                    <img src="./images/content/content_4.webp" alt="image not found">
                </div>
                <div class="follow_img">
                    <img src="./images/content/content_4.webp" alt="image not found">
                </div>
            </div>
        </div>
    </div>
</section>