<section class="offers">
    <div class="container fade-in-up">
        <div class="offers_subhead">
            <span class="subhead">Special Offers</span>
        </div>
        <div class="offers_content">
            <a href="#" class="offers_item">
                <div class="item_img">
                    <img src="./images/offers/offer_img_1.webp"
                        alt="Image of a woman in sitting on the seat of a Lincoln Towncar convertible looking at the viewer and taking a picture.">
                </div>
                <span class="section-label">Special Rate</span>
                <h4>Music City Summer Getaway</h4>
            </a>
            <a href="#" class="offers_item">
                <div class="item_img">
                    <img src="./images/offers/offer_img_2.webp"
                        alt="Image of a diverse group of people walking across a bridge with Nashville in the background, showcasing exploration..">
                </div>
                <span class="section-label">Special Rate</span>
                <h4>Explore Nashville</h4>
            </a>
            <a href="#" class="offers_item">
                <div class="item_img">
                    <img src="./images/offers/offer_img_3.webp"
                        alt="Image of a car parked in front of the Bobby Nashville hotel, suggesting that you valet your car.">
                </div>
                <span class="section-label">Special Rate</span>
                <h4>Leave the Keys</h4>
            </a>
        </div>
        <a href="#" class="btn">See All Offers</a>
    </div>
</section>