<section class="places">
    <div class="container">
        <div class="places_content">
            <a href="union-tavern.html" class="places_item">
                <div class="item_img">
                    <img src="./images/content/content_8.webp" alt="image not found">
                </div>
                <div class="item_text">
                    <h3>Union Tavern</h3>
                </div>
            </a>
            <a href="#" class="places_item">
                <div class="item_img">
                    <img src="./images/content/content_9.webp" alt="image not found">
                </div>
                <div class="item_text">
                    <h3>Rooftop Lounge</h3>
                    <p>Backyard Games and Cocktails</p>
                </div>
            </a>
            <a href="#" class="places_item">
                <div class="item_img">
                    <img src="./images/content/content_10.webp" alt="image not found">
                </div>
                <div class="item_text">
                    <h3>Garage Bar</h3>
                    <p>Dive Bar Off Printer's Alley</p>
                </div>
            </a>
            <a href="#" class="places_item">
                <div class="item_img">
                    <img src="./images/content/content_11.webp" alt="image not found">
                </div>
                <div class="item_text">
                    <h3>Café at Bobby</h3>
                    <p>Coffee, Pastries, and More</p>
                </div>
            </a>
        </div>
    </div>
</section>