<div class="request-proporsal">
    <div class="container">
        <div class="request-proporsal_content">
            <h2>Request a Proposal</h2>
            <form action="#">
                <div class="inputs-wrap">
                    <div class="form-part-label">Client Information</div>
                    <div class="input">
                        <label for="first-name">First name <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="last-name">Last name <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="phone">Phone Number <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="email">Email <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="address">Address</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="city">City/Region</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="state">State/Province</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="zip">Zip/Postal Code</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="country">Country</label>
                        <div class="form-select">
                            <div class="select-selected">Country</div>
                            <div class="select-items">
                                <div data-value="1">France</div>
                                <div data-value="2">United States</div>
                                <div data-value="3">Germany</div>
                            </div>
                        </div>
                    </div>
                    <div class="input">
                        <label for="country">How did you hear about us?</label>
                        <input type="text">
                    </div>
                </div>
                <div class="inputs-wrap">
                    <div class="form-part-label">Company Information</div>
                    <div class="input">
                        <label for="company-name">Company name</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="company-address">Address</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="company-city">City/region</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="company-state">State/province</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="company-zip">Zip/postal code</label>
                        <input type="text">
                    </div>
                </div>
                <div class="inputs-wrap">
                    <div class="form-part-label">Request details</div>
                    <div class="input">
                        <label for="group-name">Group name <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="event-type">Event type<span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="arrival-date">Arrival date<span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="departure-date">Departure date<span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="number-of-attendees">Number of attendees</label>
                        <input type="text">
                    </div>
                    <div class="textarea">
                        <label for="textarea-please-tell">Please tell us more about your event needs</label>
                        <textarea></textarea>
                    </div>
                    <div class="input">
                        <label for="guestrooms-needed">Guestrooms Needed</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="guestrooms-needed">Events Needed</label>
                        <input type="text">
                    </div>
                </div>
                <div class="inputs-wrap file-upload-wrapper">
                    <div class="form-part-label">File Uploads</div>
                    <label for="fileUpload" class="file-upload-label">
                        Add Files
                    </label>
                    <input type="file" id="fileUpload" class="file-upload-input" name="files[]" multiple>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>
