<section class="slider">
    <span class="subhead">Food + Drink</span>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner">
                    <a href="#">
                        <img src="./images/content/swiper_img_1.webp"
                            alt="Image of a dive bar with string lights and neon sign at Bobby Nashville.">
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner">
                    <a href="#">
                        <img src="./images/content/swiper_img_2.webp"
                            alt="Image of friends dining in Union Tavern, a restaurant at Bobby Nashville.">
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner">
                    <a href="#">
                        <img src="./images/content/swiper_img_3.webp"
                            alt="Image of Rooftop Lounge's bar at Bobby Nashville. A rooftop bar.">
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner">
                    <a href="#">
                        <img src="./images/content/swiper_img_1.webp"
                            alt="Image of a dive bar with string lights and neon sign at Bobby Nashville.">
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner">
                    <a href="#">
                        <img src="./images/content/swiper_img_2.webp"
                            alt="Image of friends dining in Union Tavern, a restaurant at Bobby Nashville.">
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner">
                    <a href="#">
                        <img src="./images/content/swiper_img_3.webp"
                            alt="Image of Rooftop Lounge's bar at Bobby Nashville. A rooftop bar.">
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">
            <img src="./images/svg/prev.svg" alt="image not found">
        </div>
        <div class="swiper-button-next">
            <img src="./images/svg/next.svg" alt="image not found">
        </div>
    </div>
</section>