<div class="stay-touch">
    <div class="container">
        <div class="stay-touch_content">
            <div class="stay-touch_text">
                <h2>Stay in Touch</h2>
                <p>Signup for invites to Bobby's Garage events, hotel news, and special offers.</p>
            </div>
            <form action="#">
                <div class="inputs-wrap">
                    <div class="input">
                        <label for="name"> First name <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="last-name">Last name <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label for="email">Email <span>*</span></label>
                        <input type="email">
                    </div>
                    <div class="input">
                        <label for="zip">Zip Code <span>*</span></label>
                        <input type="text">
                    </div>
                </div>
                <button type="submit" class="btn">Sign Up</button>
            </form>
        </div>
    </div>
</div>