<section class="text-section">
    <div class="divider-wrap">
        <span class="divider"></span>
        <span class="divider"></span>
        <span class="divider"></span>
        <span class="divider"></span>
        <span class="divider"></span>
        <span class="divider"></span>
    </div>
    <div class="text-section_content">
        <p>
            Play yard games, and sip specialty cocktails surrounded by
            downtown views, or grab some snacks and take a load off in
            our retrofitted 1956 Scenicruiser. Reservations are not
            required, but encouraged.
        </p>
        <ul>
            <li>Rooftop Lounge Hours</li>
            <li>Sun–Thurs: 10 AM–10 PM</li>
            <li>Fri–Sat: 10 AM–12 AM</li>
        </ul>
        <a href="#" class="base-link">VIEW MENU</a>
    </div>
</section>