<!-- тут есть клас модификатор "revert" , что бы отзеркалить содержимое -->
<!-- тут есть клас модификатор "artist" , что бы применить стили для артиста -->
<!-- тут есть клас модификатор "wide_img" , что бы применить стили широкой и не высокой картинки -->
<section class="text-image ">
    <div class="container">
        <div class="text-image_content">
            <div class="text-image_img fade-in-up">
                <!-- эта картинка опциональна и не везде есть -->
                <img class="top_img" src="./images/content/three-characters.webp"
                    alt="image not found">
                <!--  -->
                <div class="rellax-slow">
                    <img
                        data-rellax-speed="1"
                        class="inner_img"
                        src="./images/content/content_3.webp"
                        alt="image not found"
                    >
                </div>
                
                <!-- эта картинка опциональна и не везде есть -->
                <img
                    class="rellax"
                    data-rellax-speed="1"
                    class="script"
                    src="./images/inscriptions/script_1.webp"
                    alt="image not found"
                >
                <!--  -->
            </div>
            <div class="text-image_text animation-text">
                <span class="section-label">Rooms</span>
                <h2>Creative Rooms for Inspired Guests</h2>
                <p>Make yourself at home in one of our 144 thoughtfully appointed guest rooms and
                    suites.</p>
                <a href="#" class="btn">Browse Rooms</a>
                <div class="links_wrap">
                    <a href="#" target="_blank" class="base-link">Website</a>
                    <a href="#" target="_blank" class="base-link">Instagram</a>
                </div>
            </div>
        </div>
    </div>
</section>