<section class="wide-slider">
    <div class="swiper wide-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide_item">
                    <img src="./images/content/content_10.webp" alt="image not found">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide_item">
                    <img src="./images/content/content_10.webp" alt="image not found">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide_item">
                    <img src="./images/content/content_10.webp" alt="image not found">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide_item">
                    <img src="./images/content/content_10.webp" alt="image not found">
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">
            <img src="./images/svg/prev.svg" alt="image not found">
        </div>
        <div class="swiper-button-next">
            <img src="./images/svg/next.svg" alt="image not found">
        </div>
    </div>
</section>