// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black: #3C3C3C;
$white: #FBF9EF;
$gray: #D7D7D7;
$red:#D94528;

$base-font-sans-serif: '"adobe-caslon-pro", serif';
$base-font-serif: 'Times New Roman',
'Times',
'Baskerville',
'Georgia',
serif;
$Montserrat: 'Montserrat',
$base-font-sans-serif;
$Lora: 'Lora',
$base-font-sans-serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $black;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 78px;
$h2-font-size: 52px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 17px;
$h6-font-size: 15px;

$headings-font-family: $base-font-sans-serif;
$headings-color: inherit !default;


$animation-speed: all .3s ease 0s;

:root {
    --step-caption: clamp(1.125rem, 1.0588rem + 0.2824vi, 1.5rem);
    --step-body: clamp(1.125rem, 1.0257rem + 0.4235vi, 1.6875rem);
    --step-intro: clamp(1.3125rem, 1.1471rem + 0.7059vi, 2.25rem);
    --step-cta: clamp(1rem, 0.9449rem + 0.2353vi, 1.3125rem);
    --step-h5: clamp(1.125rem, 1.0588rem + 0.2824vi, 1.5rem);
    --step-h4: clamp(1.3125rem, 1.1801rem + 0.5647vi, 2.0625rem);
    --step-h3: clamp(1.5rem, 1.2022rem + 1.2706vi, 3.1875rem);
    --step-h2: clamp(1.875rem, 1.4118rem + 1.9765vi, 4.5rem);
    --step-h1: clamp(2.0625rem, 1.4669rem + 2.5412vi, 5.4375rem);
    --step-hero: clamp(2.8125rem, 2.1507rem + 2.8235vi, 6.5625rem);
    --space-4xs: clamp(0.25rem, 0.2201rem + 0.1493vi, 0.5rem);
    --space-3xs: clamp(0.5rem, 0.4403rem + 0.2985vi, 1rem);
    --space-2xs: clamp(0.625rem, 0.5578rem + 0.3358vi, 1.1875rem);
    --space-xs: clamp(0.75rem, 0.6604rem + 0.4478vi, 1.5rem);
    --space-s: clamp(1rem, 0.8806rem + 0.597vi, 2rem);
    --space-m: clamp(1.5rem, 1.3209rem + 0.8955vi, 3rem);
    --space-l: clamp(2rem, 1.7612rem + 1.194vi, 4rem);
    --space-xl: clamp(3rem, 2.6418rem + 1.791vi, 6rem);
    --space-4xs-3xs: clamp(0.25rem, 0.1604rem + 0.4478vi, 1rem);
    --space-3xs-2xs: clamp(0.5rem, 0.4179rem + 0.4104vi, 1.1875rem);
    --space-2xs-xs: clamp(0.625rem, 0.5205rem + 0.5224vi, 1.5rem);
    --space-xs-s: clamp(0.75rem, 0.6007rem + 0.7463vi, 2rem);
    --space-s-m: clamp(1rem, 0.7612rem + 1.194vi, 3rem);
    --space-m-l: clamp(1.5rem, 1.2015rem + 1.4925vi, 4rem);
    --space-l-xl: clamp(2rem, 1.5224rem + 2.3881vi, 6rem);
    --space-375p: 3.75vw;
    --space-5p: 5vw;
    --space-75p: 7.5vw;
    --space-10p: 10vw;
    --space-15p: 15vw;
    --space-nav-height: clamp(4.0625rem, 3.3413rem + 3.0769vi, 7.1875rem);
    --space-logo-width: clamp(6.875rem, 6.0817rem + 3.3846vi, 10.3125rem);
    --space-button-height: 3.125rem;
    --space-footer-logo-width: clamp(5.625rem, 4.477rem + 4.898vi, 9.375rem);
}

.pt-nav-height {
    padding-top: var(--space-nav-height);
}